<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .abc
        {
            text-decoration: underline;
            background: cyan;
            
        }
    </style>
</head>
<body>
    <center>
        <h1>Hiii</h1>
        <h2>Welcome to this specific-specific-bootstrap Django Project</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam saepe vel numquam unde illo voluptates eius assumenda aliquam, corporis cumque distinctio culpa aliquid placeat sit ex odio veniam impedit nulla!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veritatis numquam harum error aliquid, eos earum doloremque, fugit cumque quidem debitis eligendi, odit quam commodi tenetur ut tempora natus vitae.
        </p>

        <h1><a href="{% url 'new:index' %}" class="abc">index</a></h1>
    </center>




</body>
</html>